
  <script language="Javascript" type="text/javascript">
  function successFunction(position) {
    var lat = position.coords.latitude;
    var long = position.coords.longitude;
    alert('Your latitude is :'+lat+' and longitude is '+long);
}
function errorFunction(position) {
    alert('Error!');
}
  //Check if browser supports W3C Geolocation API
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} else {
    alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
}
    </script>
    <h1>Listing toilets near <%= @city %>, <%= @country %></h1>

<table>
  <tr>
    <th>User</th>
    <th>Checkin</th>
    <th>Photo url</th>
    <th>Gender</th>
    <th>Venue lat</th>
    <th>Venue lng</th>
    <th>Venue name</th>
    <th>Venue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @toilets.each do |toilet| %>
  <tr>
    <td><%= toilet.user_id %></td>
    <td><%= toilet.checkin_id %></td>
    <td><%= toilet.photo_url %></td>
    <td><%= toilet.gender %></td>
    <td><%= toilet.venue_lat %></td>
    <td><%= toilet.venue_lng %></td>
    <td><%= toilet.venue_name %></td>
    <td><%= toilet.venue_id %></td>
    <td><%= link_to 'Show', toilet %></td>
    <td><%= link_to 'Edit', edit_toilet_path(toilet) %></td>
    <td><%= link_to 'Destroy', toilet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toilet', new_toilet_path %>
