

<div id="pick2" data-role="page" style="background-image: url(images/LR_images-10.png); background-repeat:no-repeat;">

    <div data-role="header" data-position="inline">
    <a href="#find1">Back</a>
    <h1>Loos Near You</h1>
    
</div>

    
</div>

<div id="pick2-1" data-role="page" style="height:400px; height:320px;">

    <div data-role="header" data-position="inline">
    <a href="#find1">Back</a>
    <h1>Loos Near You</h1>
    
</div>

<div id="content2-1" data-role="content" style="background-image: url(images/LR_images-10.png); background-repeat:no-repeat; height:100%; width:100%;">

<div id="results1">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

  <h1>Listing toilets nearby</h1>

<table>
  <tr>
    <th>User</th>
    <th>Checkin</th>
    <th>Photo url</th>
    <th>Gender</th>
    <th>Venue lat</th>
    <th>Venue lng</th>
    <th>Venue name</th>
    <th>Venue</th>
    <th></th>
  </tr>

<% @toilets.each do |toilet| %>
  <tr>
    <td><%= toilet.user_id %></td>
    <td><%= toilet.checkin_id %></td>
    <td><%= toilet.photo_url %></td>
    <td><%= toilet.gender %></td>
    <td><%= toilet.venue_lat %></td>
    <td><%= toilet.venue_lng %></td>
    <td><%= toilet.venue_name %></td>
    <td><%= toilet.venue_id %></td>
    <td><%= link_to 'Show', toilet %></td>
  </tr>
<% end %>
</table>

<br />
